<!DOCTYPE html>
<html lang="en">
<%- partial('site/head') %>
<body>
<%- partial('service/google-analytics') %>
<%- partial('site/header') %>

  <div class="columns is-8 layout-base maxwidth">
    <%- body %>
  </div>

<%- partial('site/footer') %>
<%- partial('site/scripts') %>
</body>
</html>

