  <main role="main" 
        class="column is-two-thirds is-paddingless">
  <div id="sitedesc_image"></div>

    <div class="has-background-white blog-column box-deco">
      <article class="blog-post has-margin-top-15">
        <h1 class="title is-4"><%- page.title %></h1>
        <%- page.content %>
      </article>
    </div>
  </main>

  <aside class="sidebar column is-one-thirds is-paddingless">
    <%- partial('widget/recent-posts') %>
    <%- partial('widget/affiliates') %>
    <%- partial('widget/friends') %>
    <%- partial('widget/archives-simple') %>
  </aside>
