  <main role="main" 
        class="column is-two-thirds is-paddingless">
  <div id="sitedesc_image"></div>
  
    <div class="blog-column box-deco has-background-white">
      <div class="blog-post has-margin-top-15"
           itemscope itemtype="http://schema.org/BlogPosting">
        <%- partial('post/header') %>

        <article class="main-content" itemprop="articleBody">
          <% if (page.toc) {%>
            <%- partial(page.toc) %>
          <% } %>

          <%- partial('service/google-adsense') %>

          <%- page.content %>
        </article>

        <br/>
        <%- partial('post/navigation') %>
      </div>

      <%- partial('post/footer') %>
      <%- partial('service/disqus-comments') %>
    </div>
  </main>

  <aside class="sidebar column is-one-thirds is-paddingless">
    <%- partial('widget/related-posts') %>
    <%- partial('widget/tags', {view_tag_type: 'before'}) %>
    <%- partial('widget/categories') %>
    <%- partial('widget/archives-grouped') %>
    <%- partial('widget/archives-github') %>
    <%- partial('widget/archives-gitlab') %>
  </aside>
