  <section class="columns is-multiline" id="archive">
  <% terms.each(function(item){ %>
    <div class="column is-full-mobile 
                is-half-tablet is-one-third-widescreen">

      <section class="panel is-light">
        <div class="panel-header" id="<%= item.name %>">
          <p><%= taxonomyname %>: 
             <a href="<%- url_for(item.path) %>">
             <%= item.name %></a></p>
          <span class="fa fa-folder"></span>
        </div>
        <div class="panel-body has-background-white">

          <div class="archive-list archive-p3">
          <% item.posts.each(function(post){ %>
            <%- partial('terms/post-item', {post: post}) %>
          <% }) %>
          </div>

        </div>

      </section>

    </div>
  <% }) %>
  </section>
