  <main role="main" 
        class="column is-two-thirds has-background-white
               blog-column box-deco">
    <div class="blog-post">
      <section>
        <h1 class="title is-4"><%- page.title %></h1>
        <p  class="blog-post-meta"
            ><%= date(page.date, config.date_format) %> by <a href="#"
            ><%= config.author %></a></p>
      </section>

      <article>
        <%- page.content %>
      </article>
    </div><!-- /.blog-post -->
  </main>

  <aside class="sidebar column is-one-thirds is-paddingless">
    <%- partial('widget/related-posts') %>
    <%- partial('widget/tags', {view_tag_type: 'before'}) %>
    <%- partial('widget/categories') %>
    <%- partial('widget/archives-grouped') %>
    <%- partial('widget/archives-github') %>
    <%- partial('widget/archives-gitlab') %>
  </aside>
