    <div class="meta-item blog-item">

      <strong><a class="meta_link" 
        href="<%- url_for(post.path) %>"><%= post.title %>
      </strong></a>

      <div class="meta">
        <div class="meta_time is-pulled-left">
          <i class="fa fa-calendar"></i>
          <time datetime="<%= date(post.date, "YYYY-MM-DD[T]HH:mm:ss.SSS") %>">
          <%= date(post.date, "MMM DD, YYYY") %></time>
        </div>      
        <div class="is-pulled-right" id="meta_tags">
          <% post.tags.forEach(function(tag){ %>
            <a href="<%- url_for(tag.path) %>">
              <span class="tag is-dark">
                <span class="fa fa-tag"></span>
                &nbsp;<%= tag.name %></span></a>
          <% }) %>
        </div>
      </div> 

      <div class="is-clearfix"></div>
      
      <div>
        <% if(post.excerpt) { %>
        <p><%- post.excerpt %></p>
        <% } %>
      </div>

      <div class="read-more is-light">
        <a href="<%- url_for(post.path) %>" 
           class="button is-dark is-small">Read More&nbsp;</a>
      </div>

    </div>

